<div class="container-fluid py-2 border-bottom-1 border-gray-200 bg-light" style="
    padding: 0 40px;
    border-bottom: 1px solid #efefef !important;
">
    <div class="row bg-white">
        <div class="col-md-3" >
            <div class="row">
                <div class="col-2 p-1 py-2 border border-gray-200 d-flex justify-content-center align-items-center custom-border"
                    style="border-top-left-radius: 5px;border-bottom-left-radius: 5px;">
                    <div class="">
                        <i class="fa-solid fa-arrow-left"></i>
                    </div>
                </div>
                <div
                    class="col-8 p-1 border border-gray-200 d-flex justify-content-center align-items-center custom-border">
                    <p class="m-0 text-center">DatePicker</p>
                </div>
                <div class="col-2 p-1 py-2 border border-gray-200 d-flex justify-content-center align-items-center custom-border"
                    style="border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;">
                    <div class="">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 border border-gray-200 p-1 custom-border">
            <select class="form-select form-select-sm border-0" aria-label="Small select example">
                <option selected>Arunachal Pradesh</option>
            </select>
        </div>
        <div class="col-md-3 border border-gray-200 p-1 custom-border" style="border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;">
            <select class="form-select form-select-sm border-0"
                    [(ngModel)]="selectedDistrict"
                    (ngModelChange)="onDistrictChange()"
                    aria-label="Select District">
                <option value="">Select District</option>
                <option *ngFor="let district of districts()" [value]="district">{{ district }}</option>
            </select>
        </div>
        <div class="col-md-3 border border-gray-200 p-1 custom-border">
            <select class="form-select form-select-sm border-0"
                    [(ngModel)]="selectedMouza"
                    (ngModelChange)="onMouzaChange()"
                    [disabled]="!selectedDistrict || mouzas().length === 0"
                    aria-label="Select Mouza">
                <option value="">Select Mouza</option>
                <option *ngFor="let mouza of mouzas()" [value]="mouza">{{ mouza }}</option>
            </select>
        </div>

        <!-- <div class="col-md-1 border border-gray-200 p-1 custom-border" style="border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;">
            <button class="btn btn-sm btn-light border-0 w-100 font-weight-bold">
                <i class="fa-solid fa-magnifying-glass"></i>
                Search</button>
        </div> -->
    </div>
</div>

<div class="container-fluid py-0 px-0">
    <div class="container-fluid">
        <div class="row p-0">
            <div class="col-md-4">

            </div>
            <div class="col-md-8 p-0">

                <div style="position: relative;">
                    <div class="d-flex gap-2 justify-content-center align-items-center" style="position: absolute; top: 10px; left: 0; right: 0;z-index: 99999;width: fit-content;
    transform: translate(40%, 40%);">
                        <button
                            *ngFor="let layer of availableLayers()"
                            class="btn btn-sm position-relative"
                            [class.btn-primary]="isLayerActive(layer.name)"
                            [class.btn-light]="!isLayerActive(layer.name)"
                            (click)="switchLayer(layer.name)"
                            [title]="layer.label">
                            <i class="fa-solid" [ngClass]="layer.icon"></i> {{ layer.label }}
                        </button>
                    </div>
                    <app-map #mapComponent></app-map>
                </div>

            </div>
        </div>
    </div>
</div>